.card-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 0 0 calc(33.33% - 20px);
    width: 100%;
    background-color: #555;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
}

.card:hover {
    border-color: aquamarine;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}